src/wsdl/ServerRemoteImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://RoomResrvSys/" name="ServerRemoteImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://RoomResrvSys/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="ServerRemoteImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createRoom">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="ns1:stringArray" xmlns:ns1="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="createRoomResponse">
    <part name="return" type="ns2:stringArray" xmlns:ns2="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="deleteRoom">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="ns3:stringArray" xmlns:ns3="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="deleteRoomResponse">
    <part name="return" type="ns4:booleanArray" xmlns:ns4="http://jaxb.dev.java.net/array"/>
  </message>
  <message name="bookRoom">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
  </message>
  <message name="bookRoomResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="cancelBook">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="cancelBookResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="getAvailableTimeslot">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="getAvailableTimeslotResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="changeReservation">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
  </message>
  <message name="changeReservationResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="login">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="loginResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <portType name="RemoteServerInterface">
    <operation name="createRoom" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/createRoomRequest" message="tns:createRoom"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/createRoomResponse" message="tns:createRoomResponse"/>
    </operation>
    <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/deleteRoomRequest" message="tns:deleteRoom"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/deleteRoomResponse" message="tns:deleteRoomResponse"/>
    </operation>
    <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/bookRoomRequest" message="tns:bookRoom"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/bookRoomResponse" message="tns:bookRoomResponse"/>
    </operation>
    <operation name="cancelBook" parameterOrder="arg0 arg1">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/cancelBookRequest" message="tns:cancelBook"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/cancelBookResponse" message="tns:cancelBookResponse"/>
    </operation>
    <operation name="getAvailableTimeslot" parameterOrder="arg0 arg1">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/getAvailableTimeslotRequest" message="tns:getAvailableTimeslot"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/getAvailableTimeslotResponse" message="tns:getAvailableTimeslotResponse"/>
    </operation>
    <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/changeReservationRequest" message="tns:changeReservation"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/changeReservationResponse" message="tns:changeReservationResponse"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://RoomResrvSys/RemoteServerInterface/loginRequest" message="tns:login"/>
      <output wsam:Action="http://RoomResrvSys/RemoteServerInterface/loginResponse" message="tns:loginResponse"/>
    </operation>
  </portType>
  <binding name="ServerRemoteImplPortBinding" type="tns:RemoteServerInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="createRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="deleteRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="bookRoom">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="cancelBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="getAvailableTimeslot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="changeReservation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://RoomResrvSys/"/>
      </output>
    </operation>
  </binding>
  <service name="ServerRemoteImplService">
    <port name="ServerRemoteImplPort" binding="tns:ServerRemoteImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

